<!DOCTYPE html>
<html>
<head>
  <title>Teamwork Analysis</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <center><h1> Teamwork Analysis </h1></center>
    <style>body{padding-top:70px;}</style>
    <div class="container">

      <div class="row" style="padding: 50px">
        <% if !flash.empty? %>
          <div class="alert alert-info"><center><%= flash[:notice] %></center></div>
        <% end %>
        <div class="col-md-6">
            <div align="right"><h4> Import Data </h4></div>
        </div>
        <div class="col-md-6">
            <div align="left"><%= render 'pages/importdatashow.html.erb'%></div>
        </div>
      </div>
      <div class="row" style="padding: 50px">

      </div>
    </div>
  </div>
</body>
</html>
