<!DOCTYPE html>
<html>
<head>
  <title>Teamwork Analysis</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style='margin: 25px; border: 10px solid purple'>
    <div class="container" style="padding:70px">
        <div class="row">
            <div class="col-lg-3">
                <center>
                    <h4>Students</h4>
                </center>
                <%= simple_form_for :selection do |f| %>
                    <% @students.each do |student| %>
                        <%= f.input :selected, as: :check_boxes, collection: [student], :input_html => { :checked => @selected[student.id.to_s] }, label: false %>
                     <% end %>
                    <%= f.button :submit, "Show Graph for Students", class: "btn btn-success" %>
                <% end %>
            </div>
            <div class="col-lg-9">
                <center>
                  <h1> Individual Statistics </h1> <br>

                    <%= image_tag(@image, style: 'display: block; margin: auto; width: 100%;') %>
                </center>
            </div>
        </div>
    </div>
    <div style='margin: 70px; border: 10px solid powderblue'>
     <center>
     <h2>
       What Makes an Effective Team?
     </h2>
     </center>
     <div style='margin: 25px; padding: 15px; text-indent: 20px; font-size: large'>
     <p>
       The most effective teams have a balance of the four styles. However,
       this doesn't mean using all four styles at all times, but having the
       ability to use each of the styles when it becomes necessary. When each
       of the styles is missing, it presents itself in a specific way. There
       are also phases for which certain types are more applicable than
       other phases.
       <div style='font-size: medium; padding: 15px'>
       <ul>
           <li>Contributor</li>
               <ul style='list-style-type:circle'>
                   <li>When a Contributor is missing, the team can have a lack
                     of task focus, which leads to inefficiency. There can also
                      be unclear expectations between teammates, which causes
                      interteam trust to suffer.
                   </li>
                   <li>
                   A Contributor should be PM for Phases 2 or 3 of a CS
                   121 project.
                   </li>
               </ul>
           <li>Collaborate</li>
               <ul style='list-style-type:circle'>
                   <li>When a Collaborator is missing, the team can lack
                     clarity on the perspective and purpose of a project.
                     There isn't much cross collaboration between members,
                     so most of the work is done with a 'go-it alone' mindset.
                     When accomplishments in the team are recognized, only a
                     few team members are given credit, which can degredate
                     interteam trust.
                   </li>
                   <li>
                   A Collaborator should be PM for Phase 1 of a CS 121 project.
                   </li>
               </ul>
           <li>Communicator</li>
               <ul style='list-style-type:circle'>
                   <li>When a Communicator is missing, the team dynamic is
                     often tense and very professional. There is very little
                     listening and responding to others in team meetings.
                     Success is often based solely on task completion rather
                     than genuine recognition of accomplishments. There tends
                     to be a lack of participation in debates as well.
                   </li>
                   <li>
                   A Communicator should be PM for Phase 2 or 3 of a
                   CS 121 project.
                   </li>
               </ul>
           <li>Challenger</li>
               <ul style='list-style-type:circle'>
                   <li>When a Challenger is missing, the team has strong
                     pressures to conform. If they disagree with a decision,
                     they may feel alone in their disagreement and unable to
                     speak up about it. Team stagnation can also occur because
                      there isn't any risk-takers to push the team.
                   </li>
                   <li>
                   A Challenger should be PM for Phase 4 of a CS 121 project.
                   </li>
               </ul>
       </ul>
       </div>
       Between all of the four styles, communcation is the most important.
       A strong communicator can help the team work through other weaknesses
       and compensate for missing styles, unlike the other three styles.
     </p>
     </div>
   </div>

  <div style='margin: 70px; font-size: medium'>
    <h4>References:</h4><br>
     Briggs, Margaret H. 1993. <i>Team Talk: Communication Skills for
     Early Intervention Teams.</i> http://journals.sagepub.com/doi/abs/10.1177/
     152574019301500106. <br>
     Parker, Glenn M. 2008. <i>Team Players and Teamwork New Strategies for Developing
     Successful Collaboration.</i> Jossey-Bass: San Francisco.
  </div>
</div>
</body>
</html>
